name: Java CI

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 16
        uses: actions/setup-java@v1
        with:
          java-version: 16

      - name: Build with Maven
        run: mvn package

      - name: Upload to Blob Builds
        uses: WalshyDev/blob-builds/gh-action@main
        with:
          project: Supreme
          apiToken: ${{ secrets.BLOB_BUILDS_API_TOKEN }}
          file: ./target/Supreme.jar
          releaseNotes: ${{ github.event.head_commit.message }}